schemas/nfeCabecMsg_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeCabecMsg"
           xmlns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeCabecMsg"
           elementFormDefault="qualified">

  <xs:element name="nfeCabecMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cUF" type="xs:string"/>
        <xs:element name="versaoDados" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
